.content {
  padding: 30px;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.datalist {
  display: grid;
  grid-template-columns: 1fr 100px;
  row-gap: 10px;

  .rightAlignment {
    text-align: right;
  }
}
