NODE_ENV=development
SERVICE_ID=customer-management-service
LOG_LEVEL=DEBUG

PORT=10400

USER_SERVICE_REST_API_KEY= ####
USER_SERVICE_REST_API_URL= ####

SERVICE_ACCOUNT_CLIENT_ID=####
SERVICE_ACCOUNT_CLIENT_SECRET=####