// from ui lib vars

/* Default colors */
$dark-blue: #00467d;
$blue: #1478af;
$light-blue: #28aae1;
$red: #f06c55;
$dark-gray: #707070;
$gray: #b7b7b7;
$light-gray: #dddddd;
$light-gray-2: #eeeeee;
$yellow: #ffc81a;
$green: #95c852;
$white: #ffffff;
