.datalist {
  display: grid;
  grid-template-columns: 1fr 100px;

  .rightAlignment
  {
    text-align: right;
  }
}

.externalId {
  input {
    width: 320px;
  }
}

.assignedItemsSpacing {
  margin-top: 20px;
}
