@import '../styles.scss';

.container {
  display: grid;
  grid: 100px 1fr / 1fr;
  row-gap: 4px;
}

.main {
  display: grid;
  grid-auto-rows: minmax(#{$row}, min-content);
  grid-template-columns: 1fr;
  row-gap: 6px;
}
