NODE_ENV=development
SERVICE_ID=entitlement-service
LOG_LEVEL=DEBUG

LOG_MASK_KEYWORDS=secret,credential,password,mail,authorization,connectionString,sig=,postgres://,postgresql://,amqp://,amqps://,AccountKey,SharedAccessKey,Tenant-Auth,clientIpAddress

PORT=11600

DATABASE_NAME=entitlement_service
DATABASE_OWNER=entitlement_service_owner
DATABASE_OWNER_PASSWORD=entitlement_service_owner_pwd

DATABASE_LOGIN=entitlement_service_login
DATABASE_LOGIN_PASSWORD=entitlement_service_login_pwd
DATABASE_GQL_ROLE=entitlement_service_gql_role
CATALOG_SERVICE_BASE_URL=http://localhost:10300


DRM_LICENSE_COMMUNICATION_KEY=####
DRM_LICENSE_COMMUNICATION_KEY_ID=####

# Service account values that must have CLAIM_DEFINITIONS_SYNCHRONIZE permission for monetization service
# In development, created using `yarn setup` script
SERVICE_ACCOUNT_CLIENT_ID=####
SERVICE_ACCOUNT_CLIENT_SECRET=####

# User JWT token validation public key
USER_SESSION_PUBLIC_KEY=####......................................................................

# Recurly entitlement service configuration
RECURLY_ENTITLEMENT_MOCK_REQUESTS=false
RECURLY_ENTITLEMENT_API_URL=https://v3.eu.recurly.com
RECURLY_ENTITLEMENT_PLAYBACK_PERMISSION=####
RECURLY_ENTITLEMENT_API_KEY=####

CLIENT_IP_HEADER_NAME=X-Forwarded-For

GEOIP2_BLOB_SAS_TOKEN=####
GEOIP2_BLOB_STORAGE_ACCOUNT=####
GEOIP2_BLOB_CONTAINER=####
GEOIP2_DATABASE_FILE=GeoLite2-City.mmdb
GEOIP2_UPDATE_SCHEDULE=0 0 * * *

GEO_BLOCKING_FEATURE_SWITCH=true
