:root {
  --landingpage-title-color: #fff;
  --landingpage-subtitle-color: #fff;
}

.home-root {
  background-image: url('https://dc-nfn-cms.axprod.net/Content/AWE/AWE-styles/img/backgroundImage.jpg');
}
